.container_header {
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container_alert {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_spinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 10rem!important;
    height: 10rem!important;
}

.text_loading {
    font-size: 2rem;
}

.text_error {
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
}

@media  screen and (min-width: 2000px) {
    .container_header {
        margin-left: 100px;
    }
}