.container_error {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container_error h2 {
    font-weight: bold;
    text-align: center;
}