.page_title {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: var(--bg-dark-blue);
}

.container_header {
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter{
    margin-right: 20px;
    margin-left: 20px;
}

.container_filters {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.label_input {
    font-style: italic;
    font-weight: bold;
}

.container_alert {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_spinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 10rem!important;
    height: 10rem!important;
}

.text_loading {
    font-size: 2rem;
}

.text_error {
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
}

@media screen and (max-width: 450px) {
    .container_filters {
        flex-direction: column;
        align-items: flex-start;
    }
}