.page_title {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #002855;
}

.container_header {
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn_cancel {
    margin-left: 20px;
    margin-bottom: 10px;
    border-radius: 30px;
    background: #d62828 !important;
    color: #FFF !important;
    border: none;
}

.container_filters {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 450px) {
    .container_filters {
        flex-direction: column;
        align-items: flex-start;
    }
}