.page_title {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: var(--bg-dark-blue);
}

.container_header {
    margin-top: 40px;
    margin-left: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter_text {
    margin-left: 20px;
}

.btn_cancel {
    margin-left: 20px;
    margin-bottom: 10px;
    border-radius: 30px;
    background: #d62828 !important;
    color: #FFF !important;
    border: none;
}

.container_alert {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.label_input {
    font-style: italic;
    font-weight: bold;
}

.container_spinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 10rem!important;
    height: 10rem!important;
}

.text_loading {
    font-size: 2rem;
}

.text_error {
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
}

@media screen and (max-width: 450px) {
    .container_filters {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media  screen and (min-width: 2000px) {
    .container_header {
        margin-left: 100px;
        margin-right: 100px;
    }

    .filter_text {
        margin-left: 100px;
    }

    .btn_cancel {
        margin-left: 100px;
    }
}    