version: '3.9'

services:
  app:
    restart: always
    build: .
    volumes:
      - dental_services_images:/usr/share/nginx/html/img/dental-services
    ports:
      - 80:80

volumes:
  dental_services_images:
    # The docker-compose.yml of the backend project creates this volume
    name: 'dental_services'
    # Indicates that the volume was created outside of the service(frontend)
    external: true