.card_wrapper {
    border-radius: 10px !important;
}

.image {
    max-width: 100% !important;
    height: 142px !important;
    opacity: 1 !important;
    zoom: 1;
}

.card_body {
    background-color: rgba(0,87,184,255) !important;
    text-align: center;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card_body h5 {
    color: #fff;
    text-align: center;
}

.button_detail {
    color: #000 !important;
    font-weight: bold;
    background-color: #fff !important;
    border-radius: 30px !important;
    border-color: transparent !important;
}