.label_input {
    font-style: italic;
    font-weight: bold;
}

.container_button {
    display: flex;
    justify-content: center;
}

.btn_search {
    background-color: var(--bg-dark-blue) !important;
    border-radius: 30px !important;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    border-style: none;
}

.btn_search:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.error_message {
    color: var(--bg-error);
    font-size: 12px;
}