.badge_text {
    width: 100%;
    text-align: center;
    font-size: .9rem;
}



.button_information {
    background-color: #102542 !important;
    border-style: none;
    color: #fff !important;
    border-radius: 30px;
    font-size: .8rem;
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 5px;
}

.button_information:active {
    box-shadow: 0 5px #666 !important;
    transform: translateY(4px) !important;
}