.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_form {
    margin-top: 20px;
    width: 60%;
    padding: 20px;
}

.container_form h2 {
    text-align: center;
    font-weight: 700;
}

.container_form_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.label_input {
    font-style: italic;
    font-weight: bold;
}

.input_group_text {
    background-color: transparent !important;
    border-right-style: none !important;
    border-radius: 30px 30px 30px 30px;
}

.form_control {
    border-left-style: none !important;
    border-radius: 0px 30px 30px 30px;
}

.form_control_password {
    border-right-style: none !important;
}

.button_visible {
    background-color: transparent !important;
    color: #000 !important;
    border-left-style: none !important;
    border-radius: 0px 30px 30px 30px;
    border-color: #ced4da;
}

.button_visible:hover {
    border-color: #ced4da;
}

.container_button {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.container_button Button{
    width: 100%;
    border-radius: 30px !important;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    background-color: var(--bg-dark-blue) !important;
    border-style: none;
}

.container_button Button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.error_message {
    color: var(--bg-error);
    font-size: 12px;
}

@media screen and (max-width: 580px) {
    .container_form {
        width: 100%;
        padding: 20px;
    }
}