.container_form {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.label_input {
    font-style: italic;
    font-weight: bold;
}

@media  screen and (min-width: 2000px) {
    .container_form {
        margin-left: 100px;
        margin-right: 100px;
    }
}