.button_appointment {
    background-color: #102542 !important;
    border-style: none;
    color: #fff !important;
    border-radius: 30px;
    font-size: .8rem;
    display: flex;
    align-items: center;
    gap: 5px;
}

.button_appointment:active {
    box-shadow: 0 5px #666 !important;
    transform: translateY(4px) !important;
}