.filter{
    margin-right: 20px;
    width: 40%;
}

.filter_input {
    border-top-style: none !important;
    border-left-style: none !important;
    border-right-style: none !important;
    border-bottom-color: #73777B !important;
    border-radius: 0px;   
}

.filter_input:focus {
    outline: none !important;
    border-bottom-color: #73777B !important;
    box-shadow: none !important;
}

.button_clear {
    background-color: transparent !important;
    color: #000 !important;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-color: #73777B !important;
    border-radius: 0px;
    outline: none !important;
    box-shadow: none !important;
}

.filterFullWidth {
    width: 100% !important;
}

@media screen and (max-width: 767px) {
    .filter{
        width: 60%;
    }
}

@media screen and (max-width: 450px) {
    .filter{
        width: 90% !important;
    }
}