.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page_title {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #002855;
}

.text_information {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #999;
}