.text_information {
    margin: 20px;
    text-align: center;
    color: #999;
}

.button_add {
    display: flex;
    align-items: center;
    border-radius: 30px !important;
    border-style: none;
    background-color: #3CCF4E !important;
}

.button_add:active, .button_download:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.button_download {
    display: flex;
    align-items: center;
    border-radius: 30px !important;
    border-style: none;
    
}

.icon{
    margin-right: 5px !important;
    color: #FFF !important;
    font-size: 18px;
}

.container_header {
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.total {
    text-align: right;
    margin-right: 20px;
    font-weight: bold;
}

.container_alert {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 400px) {
    .container_header {
        flex-direction: column;
        align-items: flex-start;
    }

    .button_download {
        margin-top: 10px;
    }
}

@media  screen and (min-width: 2000px) {
    .container_header {
        margin-left: 100px;
        margin-right: 100px;
    }

    .total {
        margin-right: 100px;
    }
    
}