.filter{
    margin-right: 20px;
    width: 40% !important;
}

.filter_input {
    border-top-style: none !important;
    border-left-style: none !important;
    border-right-style: none !important;
    border-bottom-color: #73777B !important;
    border-radius: 0px;
    
}

.filter_input:focus {
    outline: none !important;
    border-bottom-color: #73777B !important;
    box-shadow: none !important;
}

.button_clear {
    background-color: #FFF !important;
    color: #000 !important;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-color: #73777B !important;
    border-radius: 0px;
    outline: none !important;
    box-shadow: none !important;
}

@media screen and (max-width: 450px) {
    .filter{
        margin-top: 20px;
        width: 80% !important;
    }
}