.container_filters {
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    margin-left: 30px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button_download {
    display: flex;
    align-items: center;
    border-radius: 30px !important;
    border-style: none;
    
}

.icon{
    margin-right: 5px !important;
    color: #FFF !important;
    font-size: 18px;
}

.container_alert {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.office_current {
    margin-left: 30px;
    margin-top: 20px;
}

.container_spinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 10rem!important;
    height: 10rem!important;
}

.text_loading {
    font-size: 2rem;
}

.text_error {
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
}

@media screen and (max-width: 450px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .button_download {
        margin-top: 10px;
    }
}

@media  screen and (min-width: 2000px) {
    .container_filters {
        margin-left: 100px;
        margin-right: 100px;
    }

    .office_current {
        margin-left: 100px;
    }

    .button_download {
        margin-left: 80px;
    }
}