.container_modal {
    max-width: 600px;
}

h2 {
    text-align: center;
    font-weight: 700;
}

.container_header {
    background-color: #002855 !important;
    color: #FFF !important;
}

.container_header Button {
    background: transparent url('../../../../../img/cancel.png') center/1.5em auto no-repeat !important;
}

.text_information {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #999;
}

.container_filters {
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

.filter_component{
    margin-bottom: 20px;
    width: 100% !important;
}

.container_spinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 10rem!important;
    height: 10rem!important;
}

.text_loading {
    font-size: 2rem;
}

.text_error {
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
}

@media screen and (max-width: 600px) {
    .container_filters {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 20px !important;
    }
}