footer {
    background-color: #f0ffff;
    bottom: 0px;
    width: 100%;
    color: #011c39;
}

.main_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-content: space-between;
    padding: 20px;
}

.main_content .box {
    padding: 10px 20px;
}

.box h2 {
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}

.box .content {
    margin: 20px 0 0 0;
    position: relative;
}
 
.left {
    max-width: 400px;
}

.left img {
    width: 100%;
}

.left .content p {
    text-align: justify;
}
  
.center .content .text {
    padding-left: 10px;
}
  
.center .content .phone {
    margin: 15px 0;
}

.container_social .icon{
    font-size: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    color: #011c39;
}

.container a {
    text-decoration: none;
    color: none;
}

.footer_bottom {
    padding: 5px;
    text-align: center;
}

@media (max-width: 900px) {
    .main_content {
        grid-template-columns: 100%;
        padding: 40px;
    }
}

@media screen and (max-width: 500px) {
    .left img {
        max-width: 100%;
    }
}