.page_title {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #002855;
}

.container_alert {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}