.container_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page_title {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: var(--bg-dark-blue);
}

.fullname_user {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.gif {
    max-width: 100%;
}