.card_office {
    width: 18rem;
    min-height: 400px;
    background-color: #fff;
    border: 1px solid #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

.card_office.rotated > .front{
    transform: perspective(600px) rotateY(180deg);
}

.card_office.rotated > .back{ 
    transform: perspective(600px) rotateY(0deg);
}

.icon {
    text-align: center;
    font-size: 1rem;
    margin-right: 5px;
}

.card_office h5, h6 {
    font-weight: bold;
}

.card_office h6 {
    color: var(--bg-dark-blue);
}

.button_view_schedule, .button_back {
    margin-top: 10px;
    background-color: #00b4d8 !important;
    color: #fff;
    border-radius: 30px;
    border: none;
    display: flex;
    align-items: center;
}

.day {
    color:#000 !important;
}

@media screen and (max-width: 390px) {
    .card_office {
        min-height: 350px;
        width: 195px;
        font-size: .7rem;
    }

    .card_office h5, .card_office h6 {
        font-size: .8rem;
    }

    .button_view_schedule, .button_back {
        font-size: .7rem !important;
    }

    .icon {
        font-size: 1rem;
    }
}

@media screen and (min-width: 2200px) {
    .card_office {
        width: 25rem;
    }

    .card_office .header .icon {
        font-size: 2rem;
    }
}    