*, *::after, *::before {
  box-sizing: border-box;
  
}

body {
  margin: 0;
  height: 100vh;
  background-color: rgba(245,247,255,255) !important;
  font-family: 'Nunito', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Vollkorn', serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}
