.wrapper {
    width: 100%;
    height: 100vh;
}

.wrapper_content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    min-width: 50%;
    background-color: #FFFF;
    border: 1px solid #eee;
    border-radius: 6px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.image_container {
    padding: 2rem;
    width: 50%;
    background-color: #011c39;
    box-sizing: border-box;
}

@media (orientation: landscape) and (max-width: 999px) {
    .wrapper_content {
        height: auto;
    }
}

@media (orientation: landscape) and (min-height: 1000px) {
    .wrapper_content {
        height: 100%;
    }
}

@media screen and (max-width: 1000px) {
    
    .image_container {
        display: none;
    }  
}

@media screen and (max-width: 767px) {

    .wrapper_content {
        height: auto;
    }
    
    .container {
        min-width: 80%;
    }
}

@media screen and (max-width: 550px) {

    .wrapper_content {
        display: block;
    }
    
    .container {
        box-shadow: none;
        min-width: 100%;
        margin-top: 0;
        margin-bottom: 0;
    }
}